.a1 {
    color: #c0d8cc;
}
li {
	list-style-type: none;
}
body {
    background: url(../images/top.jpg) repeat-x;
    width: 100%;
    height: 80px;
}
.top {
    width: 100%;
    height: 78px;
    /*display: inline-block;*/
}
.top ul {
    margin: 0 auto;
    width: 90%;
}
.top li {
    float: left;
    line-height: 76px;
    font-family: "微软雅黑";
    color: #ffffff;
    font-size: 18px;
    width: 14%;
    text-align: center;
}
.top li a:link {
    text-decoration: none;
    color: #ffffff;
}
.top li a:hover { 
    text-decoration: none;
    color: #c0d8cc;
}
.top-Logo { 
   background: url(../images/logo.png) no-repeat 2px ;
   font-size: 22px;
}
a {
    color: #ffffff;
}
.position {
	position: absolute;
	top: 72px;
	left: 1097px;
	width: 80px;
	height: 6px;
	background: #505f56;
	border-radius: 10%;
}
.LearnHome {
	width: 100%;
	border-bottom: 1px solid #cad6ce;
}
.main {
	width: 940px;
	margin: 0 auto;
	font-family: "微软雅黑";
}
/* 第二栏 */
.title {
	border-bottom: 1px solid #cad6ce;
}
.NowTime {
	text-align: right;
}
/* 反馈栏 */
.fkBorder {
	width: 100%;
	background: #cccccc;
	border-bottom: 1px solid #cad6ce;
}
.fk {
	background: #fff;
}
.TextArea {
	height: 200px;
	width: 75%;
	border: 1px solid #9bb2a4;
	border-radius: 3%;
}
.text {
	border: 1px solid #9bb2a4;
	border-radius: 3%;
	width: 35%;
	height: 30px;
}
.SubmitFk {
    text-align: center;
    width: 20%;
    height: 40px;
	background: #9bb2a4;
	font-family: "微软雅黑";
	border-radius: 7%;
}
/* 共同部分 */
.assistant {
    height: 220px;
    background: #1b1f1d;
    font-family: "微软雅黑";
    color: #ffffff;
}
.assistant h1 {
    padding-left: 200px;
    padding-top: 50px;
}
.assistant p {
    padding-left: 200px;
}
.assistant img {
    margin-left: 200px;
    margin-top: 20px;
}
.footer {
    clear: both;
	background:url(../images/footer.jpg);
    height: 330px;
    color: #ffffff;
    width: 100%;
    font-size: 14px;
}
.subject {
    font-weight: bold;
    padding-bottom: 10px;
}
.footerContent {
    width: 1048px;
    margin: 0 auto;
}
.footerContent-first img {
    width: 200px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.phone {
	background: url(../images/phone.jpg) no-repeat;
}
.phone li {
    padding-left: 30px;
}
.address {
	background:url(../images/address.jpg) no-repeat;
}
.address li {
    padding-left: 30px;
}
.qq {
	background: url(../images/qq.jpg) no-repeat;
}
.qq li {
    padding-left: 30px;
}
.email {
	background:url(../images/emai.jpg) no-repeat;
}
.email li {
    padding-left: 30px;
}
.aboutUs {
    width: 200px;
    display: block;
    word-wrap: break-word;
    word-break: normal; 
}
.footer {
      /*background:url(../images/footer_top_bg.png) repeat-x scroll left top;*/
      clear: both;
      color: #aaa;
      font-size: 0.916667em;
      margin: 0 auto;
      padding: 0px 0 20px;
      position: relative;
      width: 100%;
}
.footer a:hover {
    color: #ffffff;
}
.footer-bg {
    background: url(../images/footer.jpg) repeat scroll left top;
}
.footer-inner-wrapper,.footer-bottom-wrapper {
    margin:0 auto;
    position: relative;
    max-width: 940px;
    overflow: hidden;   
    padding-bottom: 20px;
}
.inner-block  {
    background: url(../images/footer-line.png) repeat-y right top;
    height: 210px;
    width: 30%;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 0 1.5%;
    margin-top: 20px;
}
.inner-block h3 {
    font-size: 14px;
    color: #bebdbd;
    margin-bottom: 20px;
    text-shadow:1px 1px 0 #000;
}
.about-us {
    color: #8a8a8a;
    font-size: 12px;
    line-height: 1.68;
    margin: 0;
    padding: 0;
}

.third a {
    color:#888;
    font-size: 12px;
    text-decoration: none;
}
.third a:hover {
    color: #fff;
} 
.more {
    top:15px;
    position: absolute;
    right: 90px;
    margin-bottom: 0;
}
.common-care li {
    float: left;
    height: 20px;
    line-height: 20px !important;
    width: 50% !important;
}

.four {
    background: none;
    float: right;
}
.four img {
    margin-top:10px;
    height: 154px;
}
.footerBottom {
    clear: both;
}
.footerBottom p {
    text-align: center;
    height: 20px;
}
.footerBottom  img {
    margin-top: 20px;
    margin: 0 auto;
    width: 940px;
}
.footerBottom li {
    text-align: center;
    height: 40px;
    margin-top: 15px;
}
#back-top {
    background: #3F5046 none repeat scroll 0 0;
    bottom: 60px;
    color: #fff;
    display: none;
    font-size: 14px;
    height: 38px;
    left: 50%;
    line-height: 38px;
    margin-left: 520px;
    position: fixed;/*关键*/
    text-align: center;
    width: 40px;
    z-index: 10; 
}
#back-top a {
    color: #fff;
    display: block;
    height: 38px;
    text-decoration: none;
}